<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml" />


    <appender name="FLUENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/spring3.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>application3-%d{yyyy-MM-dd HH:mm}.log</fileNamePattern>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>

        <!-- JSON 인코딩-->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <pattern>{"serviceID":"Spring-admin-service"}</pattern>
                </pattern>
                <timestamp />
                <!--<version />-->
                <logLevel />
                <!-- 로그 레벨-->
                <message />
                <!-- 사용자 지정 메시지 -->
                <loggerName />
                <!-- 누가 로깅했는지-->
                <stackTrace />
                <!-- 호출 목록 -->
                <callerData />
                <!-- 클래스이름, 파일이름, 발생한 line, caller method name -->
            </providers>
        </encoder>
    </appender>

    <logger name="SOUP" level="INFO" >
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FLUENT" />
    </logger>



    <!-- TRACE > DEBUG > INFO > WARN > ERROR -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FLUENT" />
    </root>
</configuration>